@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* navigation bar */

.nav{
    display: flex;
    justify-content: space-between;
    margin: auto 100px;
}
.nav-btn{
    width: 244px;
    height: 56px;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 40%;
}

/* header section */

.header-section{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
}
.header-btn{
    color: white;
    width: 244px;
    height: 65px;
    padding: 24px 21px;
    border-radius: 8px;
    background-color: black;
    align-items: center;
    margin: 10px auto;
}

/* web development section */

body{
    background-color: rgba(13, 19, 33, 0.02);
}
.flexing{
    display: flex;
    
}
.developing{
    align-items: center;
    padding: 48px;
    gap: 32px;
    /* text-align: center; */

}
.development{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    padding: 80px 97px;
}
.development-btn{
    width: 171px;
    height: 47px;
    padding: 20px 12px;
    opacity: 70%;
    /* text-align: center; */
    /* align-items: center; */
}

/* inspiration section */

.inspiration{
    align-items: center;
    flex-direction: column;
}
iframe{
    padding: 32px;
    border-radius: 16px;
    height: 614px;
    width: 1140px;
}

/* current target section */

.target{
    gap: 24px;
}
.box{
    width: 364px;
    height: 300px;
    padding: 20px;
    border-radius: 16px;
}
.current-target{
    flex-direction: column;
    align-items: center;
}
.bg-color1{
    background-color: rgba(255, 76, 30, 0.05);
}
.bg-color2{
    background-color: rgba(0, 76, 232, 0.05);
}
.bg-color3{
    background-color: rgba(255, 223, 0, 0.05);
}

/* next target section */

.boxer{
    /* border: 0.5px solid black; */
    /* box-shadow: 1px 1px 0.5px 0.5px black; */
    border-radius: 14px;
    /* gap: 20px; */
    align-items: center;
}
.next-target{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



@media screen and (max-width: 567px) {
    .nav{
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
    .developing{
        flex-direction: column;
    }
    #middle{
        margin: auto -20px;
    }
    iframe{
        width: auto;
        height: auto;
    }
    .target{
        flex-direction: column;
    }
    .box{
        height: auto;
        width: auto;
    }
    .boxer{
        flex-direction: column;
        gap: 10px;
    }
}